# Business Insights 360

### Importing Requeired Librarires

In [1]:
import pandas as pd
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)
from matplotlib import pyplot as plt
import seaborn as sns
import pymysql
import warnings 
warnings.filterwarnings("ignore")

### Connecting to MySql DataFrames

In [2]:
df1 = pymysql.connect(user = "root", host = "localhost", password = "123456", database = "gdb041")
df2 = pymysql.connect(user = "root", host = "localhost", password = "123456", database = "gdb056")

In [3]:
pd.read_sql_query("show tables", df1)

        Tables_in_gdb041
0           dim_customer
1             dim_market
2            dim_product
3  fact_forecast_monthly
4     fact_sales_monthly
5        forecasted_data

In [4]:
pd.read_sql_query("show tables", df2)

          Tables_in_gdb056
0             freight_cost
1              gross_price
2       manufacturing_cost
3  post_invoice_deductions
4   pre_invoice_deductions

### Extracting Tbales from DataFrames

In [5]:
dim_customer = pd.read_sql_query("select * from dim_customer", df1)
dim_market = pd.read_sql_query("select * from dim_market", df1)
dim_product = pd.read_sql_query("select * from dim_product", df1)
fact_forecast_monthly = pd.read_sql_query("select * from fact_forecast_monthly", df1)
fact_sales_monthly = pd.read_sql_query("select * from fact_sales_monthly", df1)
forecasted_data = pd.read_sql_query("select * from forecasted_data", df1)

In [7]:
freight_cost = pd.read_sql_query("select * from freight_cost", df2)
gross_price = pd.read_sql_query("select * from gross_price", df2)
manufacturing_cost = pd.read_sql_query("select * from manufacturing_cost", df2)
post_invoice_deductions = pd.read_sql_query("select * from post_invoice_deductions", df2)
pre_invoice_deductions = pd.read_sql_query("select * from pre_invoice_deductions", df2)