# Business Insights 360

### Importing Requeired Librarires

In [1]:
import pandas as pd
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)
from matplotlib import pyplot as plt
import seaborn as sns
import pymysql
import warnings 
warnings.filterwarnings("ignore")

### Connecting to MySql DataBase

In [2]:
df1 = pymysql.connect(user = "root", host = "localhost", password = "123456", database = "gdb041")
df2 = pymysql.connect(user = "root", host = "localhost", password = "123456", database = "gdb056")

In [3]:
pd.read_sql_query("show tables", df1)

        Tables_in_gdb041
0           dim_customer
1             dim_market
2            dim_product
3  fact_forecast_monthly
4     fact_sales_monthly
5        forecasted_data

In [4]:
pd.read_sql_query("show tables", df2)

          Tables_in_gdb056
0             freight_cost
1              gross_price
2       manufacturing_cost
3  post_invoice_deductions
4   pre_invoice_deductions

### Extracting Tbales from DataBase

In [5]:
dim_customer = pd.read_sql_query("select * from dim_customer", df1)
dim_market = pd.read_sql_query("select * from dim_market", df1)
dim_product = pd.read_sql_query("select * from dim_product", df1)
fact_forecast_monthly = pd.read_sql_query("select * from fact_forecast_monthly", df1)
fact_sales_monthly = pd.read_sql_query("select * from fact_sales_monthly", df1)
forecasted_data = pd.read_sql_query("select * from forecasted_data", df1)

In [86]:
freight_cost = pd.read_sql_query("select * from freight_cost", df2)
gross_price = pd.read_sql_query("select * from gross_price", df2)
manufacturing_cost = pd.read_sql_query("select * from manufacturing_cost", df2)
post_invoice_deductions = pd.read_sql_query("select * from post_invoice_deductions", df2)
pre_invoice_deductions = pd.read_sql_query("select * from pre_invoice_deductions", df2)

### Importing CSV Files

In [11]:
market_share = pd.read_excel(r"C:\Users\m9wrc\OneDrive\Desktop\New Begining\Business Insights 360\Data Dump\marketshare-v2022.xlsx")
targets = pd.read_excel(r"C:\Users\m9wrc\OneDrive\Desktop\New Begining\Business Insights 360\Data Dump\targets.xlsx")

### Defining Functions to Analyze Tables

In [78]:
def table_info(t):
    print(f"\033[1mTable Shape : \033[0m {t.shape}")
    print(f"\n\033[1mStatistical Table Descripiton : \033[0m \n {t.describe()} ")
    print(f"\n\033[1mGeneral Table Descripiton : \033[0m \n {t.describe(include = 'object')} ")
    print(f"\n\033[1mCount of Null Values: \033[0m\n{t.isna().sum()}")
    print("\n")
    for column in t.columns.unique():
        print(f"\033[1mColumn Name: \033[0m {column}  \033[1mData Type : \033[0m {t[column].dtype}")

In [79]:
table_info(dim_customer)

Table Shape :  (209, 5)

Statistical Table Descripiton :
        customer market        platform   channel customer_code
count       209    209             209       209           209
unique       76     27               2         3           209
top     Amazon   India  Brick & Mortar  Retailer      90002012
freq         25     18             150       164             1

General Table Descripiton :
        customer market        platform   channel customer_code
count       209    209             209       209           209
unique       76     27               2         3           209
top     Amazon   India  Brick & Mortar  Retailer      90002012
freq         25     18             150       164             1

Count of Null Values:
customer         0
market           0
platform         0
channel          0
customer_code    0
dtype: int64


Column Name:  customer  Data Type :  object
Column Name:  market  Data Type :  object
Column Name:  platform  Data Type :  object
Column Name:  channel  Data Type :  object
Column Name:  customer_code  Data Type :  object

In [80]:
table_info(dim_market)

Table Shape :  (27, 3)

Statistical Table Descripiton :
        market sub_zone region
count      27       27     27
unique     27        7      4
top     China      ROA     EU
freq        1        7     11

General Table Descripiton :
        market sub_zone region
count      27       27     27
unique     27        7      4
top     China      ROA     EU
freq        1        7     11

Count of Null Values:
market      0
sub_zone    0
region      0
dtype: int64


Column Name:  market  Data Type :  object
Column Name:  sub_zone  Data Type :  object
Column Name:  region  Data Type :  object

In [81]:
table_info(dim_product)

Table Shape :  (397, 6)

Statistical Table Descripiton :
        product_code division   segment         category   product variant
count           397      397       397              397       397     397
unique          397        3         6               14        73      27
top     A0118150101    P & A  Notebook  Personal Laptop  AQ Elite  Plus 2
freq              1      200       129               61         8      35

General Table Descripiton :
        product_code division   segment         category   product variant
count           397      397       397              397       397     397
unique          397        3         6               14        73      27
top     A0118150101    P & A  Notebook  Personal Laptop  AQ Elite  Plus 2
freq              1      200       129               61         8      35

Count of Null Values:
product_code    0
division        0
segment         0
category        0
product         0
variant         0
dtype: int64


Column Name:  product_code  Data Type :  object
Column Name:  division  Data Type :  object
Column Name:  segment  Data Type :  object
Column Name:  category  Data Type :  object
Column Name:  product  Data Type :  object
Column Name:  variant  Data Type :  object

In [82]:
table_info(fact_forecast_monthly)

Table Shape :  (1885941, 11)

Statistical Table Descripiton :
        forecast_quantity
count       1.885941e+06
mean        9.176067e+01
std         2.088221e+02
min         0.000000e+00
25%         5.000000e+00
50%         2.100000e+01
75%         8.300000e+01
max         7.554000e+03

General Table Descripiton :
        division         category product_code   product   market  \
count   1885941          1885941      1885941   1885941  1885941
unique        3               14          389        71       27
top       P & A  Personal Laptop  A2218150201  AQ Digit    India
freq    1033285           283938         7982     56068   186624

              platform   channel customer_code customer_name
count          1885941   1885941       1885941       1885941
unique               2         3           209            75
top     Brick & Mortar  Retailer      90002008        Amazon
freq           1351340   1469663         10402        260583

Count of Null Values:
date                 0
division             0
category             0
product_code         0
product              0
market               0
platform             0
channel              0
customer_code        0
customer_name        0
forecast_quantity    0
dtype: int64


Column Name:  date  Data Type :  datetime64[ns]
Column Name:  division  Data Type :  object
Column Name:  category  Data Type :  object
Column Name:  product_code  Data Type :  object
Column Name:  product  Data Type :  object
Column Name:  market  Data Type :  object
Column Name:  platform  Data Type :  object
Column Name:  channel  Data Type :  object
Column Name:  customer_code  Data Type :  object
Column Name:  customer_name  Data Type :  object
Column Name:  forecast_quantity  Data Type :  int64

In [83]:
table_info(fact_sales_monthly)

Table Shape :  (1425706, 11)

Statistical Table Descripiton :
        sold_quantity
count   1.425706e+06
mean    8.788036e+01
std     2.080257e+02
min     0.000000e+00
25%     4.000000e+00
50%     1.700000e+01
75%     7.700000e+01
max     5.832000e+03

General Table Descripiton :
        division         category product_code   product   market  \
count   1425706          1425706      1425706   1425706  1425706
unique        3               14          389        71       27
top       P & A  Personal Laptop  A2118150103  AQ Digit    India
freq     802773           206710         6729     44641   147278

              platform   channel customer_code customer_name
count          1425706   1425706       1425706       1425706
unique               2         3           209            75
top     Brick & Mortar  Retailer      80007196        Amazon
freq           1015255   1106671          8295        199382

Count of Null Values:
date             0
division         0
category         0
product_code     0
product          0
market           0
platform         0
channel          0
customer_code    0
customer_name    0
sold_quantity    0
dtype: int64


Column Name:  date  Data Type :  datetime64[ns]
Column Name:  division  Data Type :  object
Column Name:  category  Data Type :  object
Column Name:  product_code  Data Type :  object
Column Name:  product  Data Type :  object
Column Name:  market  Data Type :  object
Column Name:  platform  Data Type :  object
Column Name:  channel  Data Type :  object
Column Name:  customer_code  Data Type :  object
Column Name:  customer_name  Data Type :  object
Column Name:  sold_quantity  Data Type :  int64

In [84]:
table_info(forecasted_data)

Table Shape :  (432623, 11)

Statistical Table Descripiton :
        forecast_quantity
count      432623.000000
mean          115.992615
std           211.349072
min             1.000000
25%            13.000000
50%            43.000000
75%           112.000000
max          3508.000000

General Table Descripiton :
        division         category product_code product  market        platform  \
count    432623           432623       432623  432623  432623          432623
unique        3               14          345      68      27               2
top       P & A  Personal Laptop  A6219160103  AQ F16   India  Brick & Mortar
freq     220704            71478         1254   10032   37260          310496

         channel customer_code customer_name
count     432623        432623        432623
unique         3           209            75
top     Retailer      70008169        Amazon
freq      339473          2070         60027

Count of Null Values:
date                 0
division             0
category             0
product_code         0
product              0
market               0
platform             0
channel              0
customer_code        0
customer_name        0
forecast_quantity    0
dtype: int64


Column Name:  date  Data Type :  datetime64[ns]
Column Name:  division  Data Type :  object
Column Name:  category  Data Type :  object
Column Name:  product_code  Data Type :  object
Column Name:  product  Data Type :  object
Column Name:  market  Data Type :  object
Column Name:  platform  Data Type :  object
Column Name:  channel  Data Type :  object
Column Name:  customer_code  Data Type :  object
Column Name:  customer_name  Data Type :  object
Column Name:  forecast_quantity  Data Type :  int64

In [95]:
table_info(freight_cost)

Table Shape :  (135, 4)

Statistical Table Descripiton :
        freight_pct  other_cost_pct
count   135.000000      135.000000
mean      0.025339        0.004155
std       0.003678        0.001149
min       0.018700        0.002200
25%       0.021900        0.003250
50%       0.025800        0.004300
75%       0.028600        0.005200
max       0.031200        0.006100

General Table Descripiton :
            market fiscal_year
count         135         135
unique         27           5
top     Australia        2018
freq            5          27

Count of Null Values:
market            0
fiscal_year       0
freight_pct       0
other_cost_pct    0
dtype: int64


Column Name:  market  Data Type :  object
Column Name:  fiscal_year  Data Type :  object
Column Name:  freight_pct  Data Type :  float64
Column Name:  other_cost_pct  Data Type :  float64

In [87]:
table_info(gross_price)

Table Shape :  (1197, 3)

Statistical Table Descripiton :
        gross_price
count  1197.000000
mean    208.493264
std     247.897982
min       2.283100
25%      17.699600
50%      37.379600
75%     411.309000
max     890.136400

General Table Descripiton :
        product_code fiscal_year
count          1197        1197
unique          397           5
top     A2918150105        2022
freq              5         353

Count of Null Values:
product_code    0
fiscal_year     0
gross_price     0
dtype: int64


Column Name:  product_code  Data Type :  object
Column Name:  fiscal_year  Data Type :  object
Column Name:  gross_price  Data Type :  float64

In [88]:
table_info(manufacturing_cost)

Table Shape :  (1197, 3)

Statistical Table Descripiton :
        manufacturing_cost
count         1197.000000
mean            62.226726
std             73.870377
min              0.706400
25%              5.339200
50%             11.034500
75%            121.587700
max            263.420700

General Table Descripiton :
        product_code cost_year
count          1197      1197
unique          397         5
top     A2918150105      2022
freq              5       353

Count of Null Values:
product_code          0
cost_year             0
manufacturing_cost    0
dtype: int64


Column Name:  product_code  Data Type :  object
Column Name:  cost_year  Data Type :  object
Column Name:  manufacturing_cost  Data Type :  float64

In [91]:
table_info(post_invoice_deductions)

Table Shape :  (2063076, 5)

Statistical Table Descripiton :
        discounts_pct  other_deductions_pct
count   2.063076e+06          2.063076e+06
mean    2.150711e-01          1.241953e-01
std     6.554602e-02          3.191252e-02
min     0.000000e+00          0.000000e+00
25%     1.599861e-01          9.814963e-02
50%     2.191942e-01          1.224419e-01
75%     2.660199e-01          1.481994e-01
max     3.597894e-01          2.076699e-01

General Table Descripiton :
        customer_code product_code        date
count        2063076      2063076     2063076
unique           209          389          60
top         70002017  A3019150205  2021-11-01
freq           10638         8065       54165

Count of Null Values:
customer_code           0
product_code            0
date                    0
discounts_pct           0
other_deductions_pct    0
dtype: int64


Column Name:  customer_code  Data Type :  object
Column Name:  product_code  Data Type :  object
Column Name:  date  Data Type :  object
Column Name:  discounts_pct  Data Type :  float64
Column Name:  other_deductions_pct  Data Type :  float64

In [92]:
table_info(pre_invoice_deductions)

Table Shape :  (1045, 3)

Statistical Table Descripiton :
        pre_invoice_discount_pct
count               1045.000000
mean                   0.233806
std                    0.058079
min                    0.051016
25%                    0.204847
50%                    0.243927
75%                    0.276677
max                    0.309908

General Table Descripiton :
        customer_code fiscal_year
count           1045        1045
unique           209           5
top         70002017        2018
freq               5         209

Count of Null Values:
customer_code               0
fiscal_year                 0
pre_invoice_discount_pct    0
dtype: int64


Column Name:  customer_code  Data Type :  object
Column Name:  fiscal_year  Data Type :  object
Column Name:  pre_invoice_discount_pct  Data Type :  float64

In [93]:
table_info(market_share)

Table Shape :  (123, 10)

Statistical Table Descripiton :
            fy_desc  total_market_sales_$  atliq_sales_$  dale_sales_$  \
count   123.000000            123.000000     122.000000    123.000000
mean   2020.186992           3276.999107      74.583412    741.636673
std       1.381076           2593.518230     145.595826    569.339018
min    2018.000000            201.983600       0.000000     60.595080
25%    2019.000000           1429.008890       1.602205    312.400984
50%    2020.000000           2551.712000       9.590130    576.956380
75%    2021.000000           4213.551920      58.727955   1101.009983
max    2022.000000          13279.738080     661.698840   2786.290648

       innovo_sales_$  pacer_sales_$   bp_sales_$  others_sales_$
count      123.000000     123.000000   123.000000      123.000000
mean       329.318977     250.208959   255.005722     1626.851732
std        267.613740     203.526849   237.489942     1405.502231
min         36.962999      22.177799    29.117267       44.859213
25%        131.392459      93.975740    93.234972      647.505981
50%        264.769871     179.210987   179.707610     1285.766961
75%        437.050550     342.869330   356.347404     2007.245075
max       1399.009564     946.579730  1343.049181     7354.413253

General Table Descripiton :
        sub_zone         category
count       105              123
unique        6                4
top          NE  Business Laptop
freq         20               35

Count of Null Values:
sub_zone                18
category                 0
fy_desc                  0
total_market_sales_$     0
atliq_sales_$            1
dale_sales_$             0
innovo_sales_$           0
pacer_sales_$            0
bp_sales_$               0
others_sales_$           0
dtype: int64


Column Name:  sub_zone  Data Type :  object
Column Name:  category  Data Type :  object
Column Name:  fy_desc  Data Type :  int64
Column Name:  total_market_sales_$  Data Type :  float64
Column Name:  atliq_sales_$  Data Type :  float64
Column Name:  dale_sales_$  Data Type :  float64
Column Name:  innovo_sales_$  Data Type :  float64
Column Name:  pacer_sales_$  Data Type :  float64
Column Name:  bp_sales_$  Data Type :  float64
Column Name:  others_sales_$  Data Type :  float64

In [90]:
table_info(targets)

Table Shape :  (321, 5)

Statistical Table Descripiton :
           ns_target     gm_target     np_target
count  3.210000e+02  3.210000e+02  3.210000e+02
mean   1.186010e+07  4.546772e+06 -1.683070e+06
std    1.967876e+07  7.787172e+06  4.052688e+06
min    9.758423e+04  2.899642e+04 -3.218070e+07
25%    2.326166e+06  7.205783e+05 -1.172048e+06
50%    5.618480e+06  1.873895e+06 -2.494218e+05
75%    1.149938e+07  4.186339e+06  2.378267e+03
max    1.369345e+08  5.083882e+07  9.470128e+05

General Table Descripiton :
            market
count         321
unique         27
top     Australia
freq           12

Count of Null Values:
market       0
month        0
ns_target    0
gm_target    0
np_target    0
dtype: int64


Column Name:  market  Data Type :  object
Column Name:  month  Data Type :  datetime64[ns]
Column Name:  ns_target  Data Type :  float64
Column Name:  gm_target  Data Type :  float64
Column Name:  np_target  Data Type :  float64

In [96]:
dim_customer.head()

             customer market        platform   channel customer_code
0    Electricalsocity  India  Brick & Mortar  Retailer      90002012
1  Electricalslytical  India  Brick & Mortar  Retailer      90002013
2                Ebay  India      E-Commerce  Retailer      90002010
3     Atliq Exclusive  India  Brick & Mortar  Retailer      90002011
4          Expression  India  Brick & Mortar  Retailer      90002014

In [130]:
def table_summary(t):
    print(f"\033[1mTotal Unique Columns : \033[0m {t.columns.nunique()}\n")
    for column in t.columns.unique():
        print(f"\033[1mTotal unique {column} : \033[0m {t[column].nunique()}")

In [131]:
table_summary(dim_customer)

Total Unique Columns :  5

Total unique customer :  76
Total unique market :  27
Total unique platform :  2
Total unique channel :  3
Total unique customer_code :  209

In [132]:
table_summary(dim_market)

Total Unique Columns :  3

Total unique market :  27
Total unique sub_zone :  7
Total unique region :  4

In [133]:
table_summary(dim_product)

Total Unique Columns :  6

Total unique product_code :  397
Total unique division :  3
Total unique segment :  6
Total unique category :  14
Total unique product :  73
Total unique variant :  27